@import "style.scss";
@import "common.scss";
@import "mixin.scss";

body {
    @include responsive(pc-size) {
        margin: 0 auto;
        padding: 0 auto;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    width: $width-wide;
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #333;
    background-color: $bg-color;

    @include responsive(pc-size) {
        width: 80px;
        height: 100%;
        flex-direction: column;

        padding: 60px 0;
        border-bottom: 0;
        border-right: 1px solid #333;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include responsive(pc-size) {
            position: static;
            top: 0;
            left: 0;
            transform: translate(0, 0);
        }
    }

    nav {
        @include responsive(pc-size) {
            height: 30%;
        } 

        ul.gnb {

            @include responsive(pc-size) {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            li {
                display: none;
    
                @include responsive(pc-size) {
                    display: block;
                }
    
                &:first-child {
                    display: block;

                    img {
                        height: 20px;
                    }
    
                    @include responsive(pc-size) {
                        display: none;
                    }
                }
    
                &:nth-child(2) {
                    a {
                        span {
                            @include responsive(pc-size) {
                                margin-top: 0;
                            }
                        }
                    }
                }
    
                a {
                    img {
                        width: 25px;
                        height: auto;
                    }
                    span {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $point-color;
                    }
                }
            }
        }
    }

    div.side-menu {

        @include responsive(pc-size) {
            height: 20%;
        }

            .s-menu {
                
                @include responsive(pc-size) {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                }

                li {
                    display: none;
    
                    @include responsive(pc-size) {
                        display: block;
                    }
    
                    &:first-child {
                        font-size: 18px;
                    }
        
                    &:last-child {
                        display: block;
        
                        a {
                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

main {
    width: $width-wide;

    @include responsive(tablet-size) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include responsive(pc-size) {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0 auto;
    }
    
    nav {
        display: none;

        @include responsive(pc-size) {
            display: block;
        }

        .wrapper {
            width: 100%;

            @include responsive(pc-size) {
                width: 1024px;
                margin: 0 auto;
            }

            @include responsive(tablet-size) {
                width: 1024px;
                margin: 0 auto;
            }

            .gnb {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                flex-direction: row;
                margin-left: 30px;
    
                li {
                    display: inline-block;
                    padding-top: 112px;
                    padding-right: 58px;
    
                    a {
                        font-size: 1em;
                        font-family: $main-font;
                    }
    
                }
            }

        }
    
    }

    .title-join{
        position: relative;
        margin: 0 0;
        padding: 0 20px;
        margin-top: 36px;
        padding-top: 33px;
        font-size: 3em;

        .title {
            margin-top: 55px;
            padding: 0 auto;

            @include responsive(pc-size) {
                display: block;
                padding-left: 42px;
                margin-top: 10px;
            }

            .title-fir {
                font-size: 1.5em;
                font-family: $main-font;
                font-weight: 500;
                margin: 0 auto;
                margin-top: 50px;

                @include responsive(pc-size) {
                    display: block;
                    float: left;
                    margin: 0 auto;
                    padding: 0 auto;
                    margin-left: -283px;
                    margin-top: -90px;
                    padding-top: 5px;
                    font-size: 90px;
                }

            }
            .title-sub {
                display: none;                       
                @include responsive(tablet-size) {
                    display: block;
                    position: relative;
                    width: 1024px;
                    font-size: 22px;
                    font-family: $main-font;
                    margin-top: -55px;
                    margin-left: -360px;
                    padding-left: 510px;
                    padding-top: 7px;
                }

                @include responsive(pc-size) {
                    display: block;
                    width: 1024px;
                    font-size: 22px;
                    font-family: $main-font;
                    padding-left: 325px;
                    padding-top: -27px;
                }
            }
        }
        .form_area {
            margin: 0 auto;
            padding: 0 auto;

            .wrap_email {
                margin: 0 auto;
                padding: 0 auto;

                .join_text {
                    input {
                        width: 427px;
                        height: 46px;
                        border-radius: 10px;
                    }

                }
            }

            .wrap_pw {
                margin: 0 auto;
                padding: 0 auto;
                .inp_text {
                    input {
                        width: 427px;
                        height: 46px;
                        border-radius: 10px;
                    }
                }
            }

            .wrap_repw {
                margin: 0 auto;
                padding: 0 auto;

                .inp_text {
                    margin: 0 auto;
                }
                input {
                    width: 427px;
                    height: 46px;
                    border-radius: 10px;
                }
            }

            .name-gender {
                display: flex; 

                .wrap_name {

                    position: relative;
                    padding-top: 8px;

                    .name_lab {

                        font-size: 17px;
                        padding-left: 9px;
                        padding-top: 2px;
                        margin-top: 10px;
                    }
                    .name_text {
                        
                        input {
                            width: 227px;
                            height: 46px;
                            border-radius: 10px;
                        }
                    }
                }

                .wrap_gender {

                    position: relative;
                    padding-left: 65px;
                    padding-top: -25px;

                    .join_gender {

                        font-size: 17px;
                        width: 47px;
                        font-size: 17px;
                        padding-left: 9px;
                        padding-top: -22px;
                        margin-top: 20px;

                
                    }
    
                    .join_text {
                        #choice {
                            position: relative;
                            width: 127px;
                            height: 46px;
                            border-radius: 10px;
                        }

                    }
                }
            }
            .info#info_birth {

                @include responsive(tablet-size) {
                    position: relative;
                    padding-left: 10px;
                    margin-left: -90px;
                }
                .birthday {
                    position: relative;
                    padding-right: 15px;
                    width: 25%;
                    padding-top: 10px;

                    @include responsive(tablet-size) {
                        position: relative;
                        padding-left: 75px;
                        margin-left: 5px;
                    }
                }
                display: flex;
                font-size: 15px;
                width: 91%;
                padding-top: 30px;
                padding-left: 27px;
                
                select {
                    
                    margin-left: 7px;
                    width: 110px;
                    height: 46px;
                    border-radius: 10px;
                }
            }

            
            .wrap_phonenum {
                margin: 0 auto;
                padding: 0 auto;
                padding-top: 5px;

                .join_pho {
                    label {
                        font-size: 17px;
                    }
                    input {
                        
                        width: 427px;
                        height: 46px;
                        border-radius: 10px;
                    }

                }
            }

            .wrap_join_term {
                display: flex;   
                position: relative;
                padding-top: 30px;
                font-size: 17px;
                align-items: center;
                width: 90%;

                margin: 0 auto;
                padding: 0 auto;
                height: 160px;
                padding: 0 75px;


                .all_terms {
                    ul {
                        li {
                            font-size: 16px;
                            line-height: 30px;
                            list-style: none;
                            display: flex;
                            justify-content: space-between;
                            padding-left: -10px;
                        }
                    }
                }

                
                .all_terms_checkbx {
                    ul {
                        li {
                            
                            line-height: 30px;
                            list-style: none;
                            
                            justify-content: space-between;
                            padding-left: 62px;
                        }
                    }
                }

            }
        }

        .join-button {
            margin: 0 auto;
            padding: 0 auto;
            width: 78%;
            padding-top: 54px;
            transform: translateY(-305px);

            button {
                cursor: pointer;
                margin: 0 auto;
                padding: 0 auto;
                display: block;
                text-align: center;
                width: 328px;
                height: 46px;
                background-color: $point-color;
                border-radius: 10px;
                border-color: white;
                padding-left: 10%;
                margin-top: 255px;
                margin-left: -2px;
                font-size: 25px;
                
                a {
                    color: #fefefe;
                    font-size: 1em;
                    font-family: $main-font;
                    margin-right: 50px;
                    width: 80%;
                    
                }

            }
        }
    }    
    
}